@import './public/variables.scss';

.ProjectCard{
    width: $sizeProjectCard;
    height: $sizeProjectCard;

    position: relative;

    &-background{
        width: 100%;
        height: 100%;

        background-color: $grayColor;
    }

    &-info{
        padding: 35px;

        background-color: $whiteColor;

        width: 100%;
        height: 100%;

        top: 0;

        position: absolute;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
}