@import './public/variables.scss';

.ProjectView {
    width: $widthSize;
    height: auto;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    padding-bottom: 40px;

    /***Footer***/

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        height: auto;

        >h4 {
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            text-align: center;

            /* Black */

            color: $blackColor;
        }
    }
}