@import './public/variables.scss';

.Message {
    background-color: $blackColor;

    width: 45px;
    height: 45px;

    position: fixed;

    bottom: 40px;
    right: 40px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    >svg {
        width: 22px;
        height: 22px;

        transition: ease-in-out all .2s;

        >path {
            fill: $whiteColor;
        }
    }

    &:hover {

        >svg {
            width: 27px;
            height: 27px;
        }
    }
}